<h1>Create New Discount</h1>
<%= form_with url: merchant_discounts_path, method: :post, local: true do |f| %>
  <p>
  <%= f.label :percentage %>
  <%= f.number_field :percentage %>
  </p>
  <p>
  <%= f.label :threshold %>
  <%= f.number_field :threshold %>
  </p>
  <%= f.submit "Submit" %>
<% end %>
